{% extends "fitsac/base_front.html" %}
{% load static %}
{% block content %}
<main>
    <div class="admin-menu">
        <div class="container">
            <div class="row pt-80 justify-content-center">
                <div class="col-12 text-center">
                    <h1>Admin Dashboard</h1>
                </div>
            </div>
            <div class="row pt-80 justify-content-center">
                <div class="col-12">
                    {% include "fitsac/partials/_messages.html" %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row pt-5 align-items-stretch">
                <!-- Coluna para as opções de gestão -->
                {% include "scheduling/partials/_classes_management_nav.html" %}
                <!-- Coluna para o conteúdo principal -->
                <div class="col-12 col-md-9 border-fit d-flex flex-column">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 text-center">
                                <h2>Administração</h2>
                                <p>Avaliação Física.</p>
                                <p>Altere os dados necessários e clique em "Actualizar" para salvar as alterações.</p>
                            </div>
                        </div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-responsive-md">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Campo</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Nome</td>
                                            <td>{{ student.first_name}} {{ student.last_name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Instrutor</td>
                                            <td>{{ instructor.instructor.first_name}} {{ instructor.instructor.last_name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Data avaliação</td>
                                            <td>{{ form.date }}</td>
                                        </tr>
                                        <tr>
                                            <td>Idade</td>
                                            <td>{{ age }} anos</td>
                                        </tr>
                                        <tr>
                                            <td>Tipo Corpo</td>
                                            <td>{{ form.body_type }}</td>
                                        </tr>
                                        <tr>
                                            <td>Altura</td>
                                            <td>{{ form.height }} m</td>
                                        </tr>
                                        <tr>
                                            <td>Peso</td>
                                            <td>{{ form.weight }} kg</td>
                                        </tr>
                                        <tr>
                                            <td>Circunferência da Cintura</td>
                                            <td>{{ form.waist_circumference }} cm</td>
                                        </tr>
                                        <tr>
                                            <td>Circunferência Abdominal</td>
                                            <td>{{ form.belly_circumference }} cm</td>
                                        </tr>
                                        <tr>
                                            <td>Circunferência do Quadril</td>
                                            <td>{{ form.hip_circumference }} cm</td>
                                        </tr>
                                        <tr>
                                            <td>Circunferência da Perna</td>
                                            <td>{{ form.leg_circumference }} cm</td>
                                        </tr>
                                        <tr>
                                            <td>Circunferência do Braço</td>
                                            <td>{{ form.arm_circumference }} cm</td>
                                        </tr>
                                        <tr>
                                            <td>Percentagem de Gordura Corporal</td>
                                            <td>{{ form.body_fat_percentage }}%</td>
                                        </tr>
                                        <tr>
                                            <td>Percentagem Total de Água</td>
                                            <td>{{ form.total_water_percentage }}%</td>
                                        </tr>
                                        <tr>
                                            <td>Massa Muscular</td>
                                            <td>{{ form.muscle_mass_percentage }}%</td>
                                        </tr>
                                        <tr>
                                            <td>Nível de Aptidão Física</td>
                                            <td>{{ form.fitness_level }}</td>
                                        </tr>
                                        <tr>
                                            <td>Calorias Queimadas</td>
                                            <td>{{ form.calories_burned }}</td>
                                        </tr>
                                        <tr>
                                            <td>Idade Metabólica</td>
                                            <td>{{ form.metabolic_age }}</td>
                                        </tr>
                                        <tr>
                                            <td>Massa Óssea</td>
                                            <td>{{ form.bone_mass }} kg</td>
                                        </tr>
                                        <tr>
                                            <td>Percentagem de Gordura Visceral</td>
                                            <td>{{ form.visceral_fat_percentage }}%</td>
                                        </tr>
                                        <tr>
                                            <td>IMC</td>
                                            <td>{{ body_composition_instance.imc }}</td>
                                        </tr>
                                        <tr>
                                            <td>FP</td>
                                            <td>{{ body_composition_instance.fp }}</td>
                                        </tr>
                                        <tr>
                                            <td>Observações</td>
                                            <td>{{ form.observations }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pt-10">
                                <button type="submit" class="btn btn-custom-user mb-5 mr-3">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row pt-5 justify-content-center">
                <div class="col-12">
                    <a href="{% url 'physical_evaluations:body_composition_single' body_composition_instance.pk %}" class="btn btn-custom-user mb-5 mr-3">Voltar</a>
                </div>
            </div>
        </div>    
    </div>
</main>
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script>
    
    var picker = new Pikaday({
        field: document.getElementById('id_date'),
        format: 'YYYY-MM-DD',   // Define o formato da data
        position: 'bottom right',    // Posiciona o calendário
        maxDate: new Date(),    // Impede a seleção de datas futuras
        i18n: {
            previousMonth: 'Mês Anterior',
            nextMonth: 'Próximo Mês',
            months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            weekdays: ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'],
            weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb']
        },
        yearRange: [1900, new Date().getFullYear()], // Years range from 1900 to current year
        
        toString: function(date, format) {
            // Converte a data selecionada no formato desejado
            return moment(date).format('YYYY-MM-DD');
        },
        parse: function(dateString, format) {
            // Converte a string da data de volta para o objeto Date
            return moment(dateString, 'YYYY-MM-DD').toDate();
        }
       
    });
</script>
<script src="{% static 'fitsac/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'fitsac/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'fitsac/js/popper.min.js' %}"></script>
<script src="{% static 'fitsac/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'fitsac/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'fitsac/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'fitsac/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static 'fitsac/js/wow.min.js' %}"></script>
<script src="{% static 'fitsac/js/animated.headline.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static 'fitsac/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static 'fitsac/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.sticky.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static 'fitsac/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'fitsac/js/waypoints.min.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'fitsac/js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static 'fitsac/js/contact.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.form.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'fitsac/js/mail-script.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static 'fitsac/js/plugins.js' %}"></script>
<script src="{% static 'fitsac/js/main.js' %}"></script>
{% endblock %}