<div class="col-12 col-md-3 border-fit d-flex flex-column">
    <ul class="mb-auto">
        <li>
            <a href="{% url 'scheduling:instructors_management' %}">Gerir instrutores</a>
        </li>
        <li>
            <a href="{% url 'scheduling:instructor_substitution' %}">Substituir instrutor</a>
        <li>
            <a href="{% url 'scheduling:weekly_classes_management' %}">Gerir aulas semanais</a>
        </li>
        <li>
            <a href="{% url "physical_evaluations:students_management_search" %}">Gerir alunos</a>
        </li>
        <li>
            <a href="{% url "scheduling:classes_sessions" %}">Relatorios de aulas</a>
        </li>
    </ul>
</div>