{% extends "fitsac/base_front.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
<main class="pt-80">
    <section class="pricing-area section-padding40 fix">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-tittle text-center mb-55 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
                        <h1>Admin Dashboard</h1>
                        <p>Welcome to the Tipos de Aulas. Here you can manage the website.</p>
                    </div>
                </div>
            </div>
            {% include "fitsac/partials/_messages.html" %}
            <div class="row">    
                {% if classes_type %}
                <div class="border-fit w-100">
                    <form class="form-admin" action="{{form_action}}"
                    method="post"
                    enctype="multipart/form-data"
                    >
                    {% csrf_token %}
                        <div class="form-group">
                            <p>
                                <label for="{{ form.tipo.id_for_label }}">Título:</label>
                                <input type="text" id="{{ form.tipo.id_for_label }}" name="tipo" value="{{ classes_type.tipo }}">
                            </p>
                        </div>
                        <div class="form-group pt-60">
                            <p>
                                <img src="{{ classes_type.image.url}}" alt="{{classes_type.image.name}}">
                                <p>
                                    Nome do ficheiro: {{ classes_type.image.name|basename }}
                                </p>
                                <label for="{{ form.image.id_for_label }}">Carregar nova imagem:</label>
                                <input type="file" id="{{ form.image.id_for_label }}" name="image">
                            </p>
                        </div>
                        <div class="form-group pt-60">
                            <p>
                                <label for="{{ form.description.id_for_label }}">description</label>
                                <textarea id="{{ form.description.id_for_label }}" name="description">{{ classes_type.description }}</textarea>
                            </p>
                        </div>
                        <div class="form-group pt-60">
                            <p>
                                <label for="{{ form.order.id_for_label }}">Ordem:</label>
                                <input id="{{ form.order.id_for_label }}" name="order"{{ classes_type.order }}>
                            </p>
                        </div>
                        <div class="pt-60 w-100">
                            <p>
                                <label for="{{ form.is_visible.id_for_label }}">Visibilidade:</label>
                                <input type="checkbox" id="{{ form.is_visible.id_for_label }}" name="is_visible" {% if classes_type.is_visible %}checked{%endif%}>
                            </p>
                        </div>
                        <div class="pt-60">
                            <button type="submit" class="btn btn-primary btn-xs">Actualizar</button>
                            
                            <a href="{% url "user_dashboard:classes_type" %}" class="btn btn-primary btn-xs">Voltar</a>
                        </div> 
                    </form>
                </div>
                {% else %}
                    <div class="pt-80">
                        <h1>Ainda não tem cards na secção.</h1>
                        <div class="pt-60">
                            <a href="{% url "user_dashboard:classes_type_create" %}" class="btn btn-primary btn-xs">Criar</a>
                            <a href="{% url "user_dashboard:classes_type" %}" class="btn btn-primary btn-xs">Voltar</a>
                        </div>
                    </div>
                {% endif %}
            </div>         
        </div>     
    </section>
</main>
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script src="{% static 'fitsac/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'fitsac/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'fitsac/js/popper.min.js' %}"></script>
<script src="{% static 'fitsac/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'fitsac/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'fitsac/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'fitsac/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static 'fitsac/js/wow.min.js' %}"></script>
<script src="{% static 'fitsac/js/animated.headline.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static 'fitsac/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
{% comment %} <script src="{% static 'fitsac/js/jquery.nice-select.min.js' %}"></script> {% endcomment %}
<script src="{% static 'fitsac/js/jquery.sticky.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static 'fitsac/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'fitsac/js/waypoints.min.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'fitsac/js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static 'fitsac/js/contact.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.form.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'fitsac/js/mail-script.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static 'fitsac/js/plugins.js' %}"></script>
<script src="{% static 'fitsac/js/main.js' %}"></script>
{% endblock %}