{% extends "fitsac/base_front.html" %}
{% load static %}
{% block content %}
<main>
    <section class="services-area">
        <div class="container">
            <div class="row justify-content-between pt-80">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                    {% if services %}
                    <div class="row">
                        {% for service in services %}
                            <div class="single-services mb-40 wow fadeInUp pt-80" data-wow-duration="1s" data-wow-delay=".1s">
                                <div class=" about-icon">
                                    {% if service.icon %}
                                    <img src="{{ service.icon.url }}" alt="">
                                    {% else %}
                                    <i class="fas fa-{{ service.icon }}">Não tem icon.</i>
                                    {% endif %}
                                </div>
                                <div class="features-caption">
                                    <h3>{{ service.name }}</h3>
                                    <p>{{ service.text_field_1 }}</p>
                                    <p>{{ service.text_field_2 }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="row pt-80">
                            <a href="{% url "user_dashboard:section_nine_create" %}" class="btn btn-primary btn-xs">Criar</a>
                            <a href="{% url "user_dashboard:admin_home" %}" class="btn btn-primary btn-xs">Voltar</a>
                        </div>
                    {% else %}
                        <div class="pt-80">
                            <h3>Ainda não criou nenhum serviço!</h3>
                        </div>
                        <div class="row pt-80">
                            <a href="{% url "user_dashboard:section_nine_create" %}" class="btn btn-primary btn-xs">Criar</a>
                            <a href="{% url "user_dashboard:admin_home" %}" class="btn btn-primary btn-xs">Voltar</a>
                        </div>
                    
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script src="{% static 'fitsac/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'fitsac/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'fitsac/js/popper.min.js' %}"></script>
<script src="{% static 'fitsac/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'fitsac/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'fitsac/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'fitsac/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static 'fitsac/js/wow.min.js' %}"></script>
<script src="{% static 'fitsac/js/animated.headline.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static 'fitsac/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static 'fitsac/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.sticky.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static 'fitsac/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'fitsac/js/waypoints.min.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'fitsac/js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static 'fitsac/js/contact.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.form.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'fitsac/js/mail-script.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static 'fitsac/js/plugins.js' %}"></script>
<script src="{% static 'fitsac/js/main.js' %}"></script>
{% endblock %}