{% extends "fitsac/base_front.html" %}
{% load static %}
{% block content %}
<main>
    <div class="admin-menu">
        <div class="container">
            <div class="row pt-80 justify-content-center">
                <div class="col-12 text-center">
                    <h1>Admin Dashboard</h1>
                    <p>Welcome to the Section One. Here you can manage the website.</p>
                </div>
            </div>
            <div class="row pt-80 justify-content-center">
                <div class="col-6">
                    <h1>Content</h1>
                    {% include "fitsac/partials/_messages.html" %} Here you can manage the website.</p>
                    {% if section_one %}   
                        <p>Nome Secção: {{ section_one.name }}</p>
                        {% if section_one.image_1 %}
                            <p>Imagem: {{ section_one.image_1 }}</p>
                            <img src="{{ section_one.image_1.url }}" alt="image" style="width: 300px; height: 200px;">
                        {% else %}
                            <p>Imagem: Não tem imagem</p>
                        {% endif %}
                        {% if section_one.image_2 %}
                            <p>Imagem: {{ section_one.image_2 }}</p>
                            <img src="{{ section_one.image_2.url }}" alt="image" style="width: 300px; height: 100px;">
                        {% else %}
                            <p>Imagem: Não tem imagem</p>
                        {% endif %}
                        <p>Texto 1: {{ section_one.text_field_1 }}</p>
                        <p>Texto 2: {{ section_one.text_field_2 }}</p>

                        <div class="pt-60">
                            <a href="{% url "user_dashboard:section_one_update" section_one.id %}" class="btn btn-primary btn-xs">Editar</a>
                            <a href="{% url "user_dashboard:admin_home" %}" class="btn btn-danger btn-xs">voltar</a>
                        </div>
                    {% else %}
                    <div class="pt-80">
                        <h1>Ainda não tem a secção criada.</h1>
                        <div class="pt-60">
                            <a href="{% url "user_dashboard:section_one_create" %}" class="btn btn-primary btn-xs">Criar Secção</a>
                        </div>
                        {% endif %}
                    </div>
                </div>    
            </div>
        </div>     
    </div>
</main>
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script src="{% static 'fitsac/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'fitsac/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'fitsac/js/popper.min.js' %}"></script>
<script src="{% static 'fitsac/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'fitsac/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'fitsac/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'fitsac/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static 'fitsac/js/wow.min.js' %}"></script>
<script src="{% static 'fitsac/js/animated.headline.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static 'fitsac/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static 'fitsac/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.sticky.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static 'fitsac/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'fitsac/js/waypoints.min.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'fitsac/js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static 'fitsac/js/contact.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.form.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'fitsac/js/mail-script.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static 'fitsac/js/plugins.js' %}"></script>
<script src="{% static 'fitsac/js/main.js' %}"></script>
{% endblock %}