{% extends "fitsac/base_front.html" %}
{% load static %}
{% block content %}
<main>
    <div class="admin-menu">
        <div class="container">
            <div class="row pt-80 justify-content-center">
                <div class="col-12 text-center">
                    <h1>Admin Dashboard</h1>
                </div>
            </div>
            <div class="row pt-80 justify-content-center">
                <div class="col-12">
                    {% include "fitsac/partials/_messages.html" %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row pt-5 align-items-stretch">
                <!-- Coluna para as opções de gestão -->
                {% include "scheduling/partials/_classes_management_nav.html" %}
                <!-- Coluna para o conteúdo principal -->
                <div class="col-12 col-md-9 border-fit d-flex flex-column">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 text-center">
                                <h2>Administração</h2>
                                <p>Serviços da secção.</p>
                                <p>Altere os serviços da secção.</p>
                            </div>
                        </div>
                        <div class="row pt-5 w-100">
                            <div class="col-12">
                                {% if services %}
                                    {% for service in services %}
                                        <div class="single-services mb-40 wow fadeInUp pt-80" data-wow-duration="1s" data-wow-delay=".1s">
                                            <div class=" about-icon">
                                                {% if service.icon %}
                                                    <img src="{{ service.icon.url }}" alt="">
                                                {% else %}
                                                    <i class="fas fa-{{ service.icon }}">Não tem icon.</i>
                                                {% endif %}
                                            </div>
                                            <div class="features-caption">
                                                <h3>{{ service.name }}</h3>
                                                <p>{{ service.text_field_1 }}</p>
                                                <p>{{ service.text_field_2 }}</p>
                                            </div>
                                            <div class="row pt-5">
                                                <a href="{% url "user_dashboard:section_nine_update" service.id %}" class="btn btn-custom-user mb-5 mr-3">Editar</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="row pt-10">
                                        <a href="{% url "user_dashboard:section_nine_create" %}" class="btn btn-custom-user mb-5 mr-3">Criar</a>
                                    </div>
                                {% else %}
                                    <p>Ainda não criou nenhum serviço.</p>
                                    <a href="{% url "user_dashboard:section_nine_create" %}" class="btn btn-custom-user mb-5 mr-3">Criar</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5 justify-content-center">
                <div class="col-12">
                    <a href="{% url "user_dashboard:admin_site_config" %}" class="btn btn-custom-user mb-5 mr-3">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script src="{% static 'fitsac/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'fitsac/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'fitsac/js/popper.min.js' %}"></script>
<script src="{% static 'fitsac/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'fitsac/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'fitsac/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'fitsac/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static 'fitsac/js/wow.min.js' %}"></script>
<script src="{% static 'fitsac/js/animated.headline.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static 'fitsac/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static 'fitsac/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.sticky.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static 'fitsac/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'fitsac/js/waypoints.min.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'fitsac/js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static 'fitsac/js/contact.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.form.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'fitsac/js/mail-script.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static 'fitsac/js/plugins.js' %}"></script>
<script src="{% static 'fitsac/js/main.js' %}"></script>
{% endblock %}