{% extends "fitsac/base_front.html" %}
{% load static %}
{% block content %}
<main>
    <div class="admin-menu">
        <div class="container">
            <div class="row pt-80 justify-content-center">
                <div class="col-12 text-center">
                    <h1>Admin Dashboard</h1>
                    <p>Welcome to the Section One. Here you can manage the website.</p>
                </div>
            </div>
            <div class="row pt-80 justify-content-center">
                <div class="col-8">
                    <h1>Content</h1>
                    {% include "fitsac/partials/_messages.html" %}
                    <form 
                    action="{{ form_action }}"
                    method="post"
                    enctype="multipart/form-data"
                    >
                        {% csrf_token %}
                        <div class="form-group">
                            <!-- Visualizar a imagem atual -->
                            {% if photo.image %}
                                <div class="current-image mb-3">
                                    <label>Imagem Atual:</label>
                                    <div class="image-preview mb-2" style="background-image: url('{{ photo.image.url }}'); height: 400px; background-size: cover; background-position: center;"></div>
                                    <p>Nome do Arquivo: {{ photo.image.name }}</p>
                                </div>
                            {% endif %}
                            <!-- Campo para atualizar a imagem -->
                            <label for="id_image">Alterar Imagem:</label>
                            {{ form.image }}
                        </div>
                        <div class="form-group">
                            <label for="id_tag">Tag:</label>
                            {{ form.tag }}
                        </div>
                        <div class="form-group">
                            <label for="id_order">Ordem:</label>
                            {{ form.order }}
                        </div>
                        <div class="form-group">
                            <label for="id_visibility">Visibilidade:</label>
                            {{ form.is_visible }}
                        </div>
                        <div class="pt-60">
                            <button class="btn btn-primary btn-xs" type="submit">Actualizar</button>
                            <a href="{% url 'user_dashboard:section_four_single_photo' photo.id %}" class="btn btn-primary btn-xs">Voltar</a>
                        </div>
                    </form>
                </div> 
            </div>
        </div>     
    </div>
</main>
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script src="{% static 'fitsac/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'fitsac/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'fitsac/js/popper.min.js' %}"></script>
<script src="{% static 'fitsac/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'fitsac/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'fitsac/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'fitsac/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static 'fitsac/js/wow.min.js' %}"></script>
<script src="{% static 'fitsac/js/animated.headline.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static 'fitsac/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static 'fitsac/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.sticky.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static 'fitsac/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'fitsac/js/waypoints.min.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'fitsac/js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static 'fitsac/js/contact.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.form.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'fitsac/js/mail-script.js' %}"></script>
<script src="{% static 'fitsac/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static 'fitsac/js/plugins.js' %}"></script>
<script src="{% static 'fitsac/js/main.js' %}"></script>
{% endblock %}